.block-create-comment {
    margin-right: 300px;
    margin-left: 300px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .block-create-comment {
        margin-right: 0px;
        margin-left: 0px;
    }
}