<div class="row">
    <h3 class="text-center" style="margin-top: 50px; margin-bottom: 20px;">Ajouter un commentaire !</h3>
    <form [formGroup]="commentForm" (ngSubmit)="getComment()">
        <div class="block-create-comment">
            <!-- <label for="exampleFormControlTextarea1" class="form-label">Ajouter mon commentaire</label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ecrivez votre commentaire ici !" rows="3" formControlName="description"></textarea>
            <input type="button" class="btn btn-primary" style="margin-top: 10px;" value="Ajouter mon commentaire" type="submit">
        </div>
    </form>
</div>