<div class="container">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-md-6">
            <h3>Inscription</h3>
            <form [formGroup]="userForm" (ngSubmit)="createUserAccount()">
                <div class="form-group">
                    <label for="username">Nom utilisateur</label>
                    <input type="email" class="form-control"  style="margin-bottom: 10px;" placeholder="Nom utilisateur" formControlName="username">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control"  style="margin-bottom: 10px;" placeholder="Email" formControlName="email">
                    <div *ngIf="userForm.controls['email'].invalid">
                        <div *ngIf="userForm.controls['email'].errors?.['email']">
                            <div class="alert">Veuillez saisir une adresse électronique valide.</div>
                        </div>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" style="margin-bottom: 10px;" placeholder="Mot de passe" minlength="8" formControlName="password">
                    <div *ngIf="userForm.controls['password'].invalid">
                        <div *ngIf="userForm.controls['password'].errors?.['pattern']">
                            <div class="alert">Le mot de passe doit contenir au moins une majuscule, et un chiffre.</div>
                        </div>
                        <div *ngIf="userForm.controls['password'].errors?.['minlength']">
                            <div class="alert">Le mot de passe doit contenir au minimum 8 caractères.</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3" style="margin-top: 10px;">
                    <label for="formFile" class="form-label">Ajoutez une photo de profil</label>
                    <input class="form-control" type="file" id="formFile" (change)="onChange($event)">
                    <div id="userProfilePhotoHelp" class="form-text">Dimension de l'image 400x400 requis.</div>
                </div>
        
                <div class="form-group">
                    <input type="button" class="btn btn-primary" style="margin-bottom: 10px;" value="S'inscrire" [disabled]="!userForm.valid" type="submit">
                </div>
            </form>
      
          <div class="redirectToLogin" style="margin-bottom: 50px;">
            <span>Vous avez déjà un compte ?<span class="redirect"  style="cursor: pointer; padding-left: 5px;" routerLink="/sign-in">Connectez-vous</span></span>
          </div>
        </div>
    </div>
</div>