<div class="container">
    <h1 class="text-center" style="margin-top: 30px; margin-bottom: 20px;">Séléctionnez les recettes par categories !</h1>
    <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
        <div *ngFor="let cat of allCategories">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{ cat.id }}" [checked]="false" (change)="getRecipeCategory($event)">
                <label class="form-check-label" for="inlineCheckbox1">{{ cat.name }}</label>
            </div>
        </div>
    </div>
    <h1 class="text-center">Les Recettes</h1>
    <div class="row">
        <div *ngFor="let userFollowingRecipe of recipesFollowingsUser; let i = index" class="col-sm-4">
            {{ userFollowingRecipe.user.username }}
            <!-- <img [src]="userFollowingRecipe.user.image_url" style="width: 100px;"> -->
            <div class="block-recipe" (click)="onViewRecipe(userFollowingRecipe.id)">
                <img [src]=userFollowingRecipe.image_url  style="width: 280px; height: 400px;"/>
                <p>{{ userFollowingRecipe.id }}</p>
                <p>{{ userFollowingRecipe.title }}</p>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" style="margin-top: 20px;" href="/create-recipe" role="button">Ajouter une recette</a>

    <app-all-comments [users]="allUsers"></app-all-comments>
    <app-create-comment [user]="user"></app-create-comment>
</div>

