<div class="container">
    <div class="row">
        <div class="text-center block-user">
            <p>{{ user.username }}</p>
            <img [src]=user.image_url width="150px">
            <p><button *ngIf="show && currentuser.id != userid" class="btn btn-primary" (click)="followUser()">S'abonner</button></p>
            <p><button *ngIf="!show && currentuser.id != userid" class="btn btn-primary" (click)="unsuscribeUser()">Se desabonner</button></p>
            <div style="margin-top: 30px;">
                <span style="margin-right: 10px;">Publications: {{ countUserRecipes }}</span>
                <span style="margin-right: 10px;">Abonnés: {{ countUserFollower }}</span>
                <span>Abonnements: {{ countUserFollowing }}</span>
            </div>
           
        </div>

        <h2 class="text-center">Mes recettes</h2>
        <div *ngFor="let userRecipes of userRecipes | paginate: { itemsPerPage: 8, currentPage: p }; let i = index" class="col-md-3 text-center">
            <div class="block-recipes" (click)="onViewRecipe(userRecipes.id)">
                <p>{{ userRecipes.title }}</p>
                <img [src]=userRecipes.image_url>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class="text-center" style="margin-bottom: 50px;" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
    </div>
</div>

<!-- (click)="addFavRecipe(user[0].id, recipe.id) -->
