<div class="container">
    <h1 class="text-center">Mes recettes favorites</h1>
    <div class="row">
        <div *ngFor="let data of userFavoriteRecipes | paginate: { itemsPerPage: 8, currentPage: p }; let i = index" class="col-md-3 text-center">
            <div class="block-recipe" style="cursor:pointer;" (click)="onViewRecipe(data.recipe.id)">
                <p>{{ data.recipe.title }}</p>
                <img [src]=data.recipe.image_url>
            </div>
            <button class="btn btn-danger" (click)="deleteFavRecipe(user.id, i, data.recipe.id)" style="margin-top: 20px; margin-bottom: 50px;">Supprimer des favoris</button>
        </div>
    </div>
    <div class="position-absolute top-80 start-50 translate-middle-x" style="padding-bottom: 50px;">
        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
    </div>
</div>

<!-- (click)="onViewRecipe(data.id)" -->