<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-top: 100px;">
            <h3>Connexion</h3>
            <form [formGroup]="userForm" (ngSubmit)="getCurrentUser()">
                <div class="form-group">
                    <label for="username">Nom utilisateur</label>
                    <input type="email" class="form-control"  style="margin-bottom: 10px;" placeholder="Nom utilisateur" formControlName="username">
                </div>
    
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" style="margin-bottom: 10px;" placeholder="Mot de passe" formControlName="password">
                </div>
        
                <div class="form-group">
                    <input type="button" class="btn btn-primary" style="margin-bottom: 10px;" value="Se connecter" type="submit">
                </div>
            </form>
          <div class="redirectToLogin" style="margin-bottom: 50px;">
            <span>Pas encore inscrit ?<span class="redirect" routerLink="/sign-up" style="cursor: pointer;"> Inscrivez-vous</span></span>
          </div>
        </div>
    </div>
</div>